.margin{
margin-left: 520px;
}
.margin3{
margin-left: 512px;
}
.margin1{
margin-left: 546px;
height: 35px;
}
#checks{
	height: 20%;
}
.margin2{
margin-left: 600px;
}
.buttoncolor{
background-color: #dc0f0fb0;
color: white;
height: 25px;
 
}
.subcolor{
background-color: #409a40cf;
color: white;
border-radius: 5px;
height: 30px;
}
#demo{
text-align: center;
font-size: 50px;
padding: 60px;
background-color:lightgrey;
}
#demo1{
text-align: center;
font-size: 50px;
padding: 60px;
background-color:lightgrey;
}
#demo2{

background-color:lightgrey;
}